
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
<div>
    @ViewBag.Greeting World (from view)
    <p>We're going to have an exciting party.<br /></p>
    @Html.ActionLink("RSVP Now","RsvpForm")

</div>
</body>
</html>
